
LUNAR-Engine/obj/project.nuget.cache
LUNAR-Engine/obj/project.assets.json
LUNAR-Engine/obj/LUNAR-Engine.csproj.nuget.g.props
LUNAR-Engine/obj/LUNAR-Engine.csproj.nuget.dgspec.json
LUNAR-Engine/obj/Debug/net7.0/LUNAR-Engine.GeneratedMSBuildEditorConfig.editorconfig
LUNAR-Engine/obj/Debug/net7.0/LUNAR-Engine.assets.cache
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/MainWindow.g.i.cs
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine_MarkupCompile.i.lref
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine_MarkupCompile.i.cache
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.GlobalUsings.g.cs
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.GeneratedMSBuildEditorConfig.editorconfig
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.designer.runtimeconfig.json
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.designer.deps.json
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.assets.cache
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.AssemblyInfoInputs.cache
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.AssemblyInfo.cs
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
LUNAR-Engine/obj/Debug/net7.0-windows/LUNAR-Engine.GlobalUsings.g.cs
LUNAR-Engine/obj/Debug/net7.0-windows/LUNAR-Engine.GeneratedMSBuildEditorConfig.editorconfig
LUNAR-Engine/obj/Debug/net7.0-windows/LUNAR-Engine.assets.cache
LUNAR-Engine/obj/Debug/net7.0-windows/LUNAR-Engine.AssemblyInfoInputs.cache
LUNAR-Engine/obj/Debug/net7.0-windows/LUNAR-Engine.AssemblyInfo.cs
LUNAR-Engine/obj/Debug/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
LUNAR-Engine/LUNAR-Engine.csproj.user
.vs/ProjectEvaluation/lunar-engine.projects.v7.bin
.vs/ProjectEvaluation/lunar-engine.metadata.v7.bin
.vs/LUNAR-Engine/v17/.suo
.vs/LUNAR-Engine/v17/.futdcache.v2
.vs/LUNAR-Engine/FileContentIndex/bfb3ece1-c3f7-465c-a8ba-116b0c6bf5e7.vsidx
.vs/LUNAR-Engine/FileContentIndex/25eac7ae-069c-4c77-866d-8440e3d16397.vsidx
.vs/LUNAR-Engine/DesignTimeBuild/.dtbcache.v2
LUNAR-Engine/obj/project.nuget.cache
Test/Test.csproj.user
Test/Test.csproj
Test/obj/Test.csproj.nuget.g.targets
Test/obj/Test.csproj.nuget.g.props
Test/obj/Test.csproj.nuget.dgspec.json
Test/obj/project.nuget.cache
Test/obj/project.assets.json
Test/obj/Debug/net7.0-windows/Test_MarkupCompile.lref
Test/obj/Debug/net7.0-windows/Test_MarkupCompile.i.cache
Test/obj/Debug/net7.0-windows/Test_MarkupCompile.cache
Test/obj/Debug/net7.0-windows/Test_gcl2uni1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Test/obj/Debug/net7.0-windows/Test_gcl2uni1_wpftmp.csproj.BuildWithSkipAnalyzers
Test/obj/Debug/net7.0-windows/Test_gcl2uni1_wpftmp.assets.cache
Test/obj/Debug/net7.0-windows/Test_gcl2uni1_wpftmp.AssemblyInfoInputs.cache
Test/obj/Debug/net7.0-windows/Test_gcl2uni1_wpftmp.AssemblyInfo.cs
Test/obj/Debug/net7.0-windows/Test.pdb
Test/obj/Debug/net7.0-windows/Test.genruntimeconfig.cache
Test/obj/Debug/net7.0-windows/Test.GeneratedMSBuildEditorConfig.editorconfig
Test/obj/Debug/net7.0-windows/Test.g.resources
Test/obj/Debug/net7.0-windows/Test.dll
Test/obj/Debug/net7.0-windows/Test.designer.runtimeconfig.json
Test/obj/Debug/net7.0-windows/Test.designer.deps.json
Test/obj/Debug/net7.0-windows/Test.csproj.FileListAbsolute.txt
Test/obj/Debug/net7.0-windows/Test.csproj.CoreCompileInputs.cache
Test/obj/Debug/net7.0-windows/Test.csproj.BuildWithSkipAnalyzers
Test/obj/Debug/net7.0-windows/Test.assets.cache
Test/obj/Debug/net7.0-windows/Test.AssemblyInfoInputs.cache
Test/obj/Debug/net7.0-windows/Test.AssemblyInfo.cs
Test/obj/Debug/net7.0-windows/refint/Test.dll
Test/obj/Debug/net7.0-windows/ref/Test.dll
Test/obj/Debug/net7.0-windows/MainWindow.g.i.cs
Test/obj/Debug/net7.0-windows/MainWindow.g.cs
Test/obj/Debug/net7.0-windows/MainWindow.baml
Test/obj/Debug/net7.0-windows/apphost.exe
Test/obj/Debug/net7.0-windows/App.g.i.cs
Test/obj/Debug/net7.0-windows/App.g.cs
Test/obj/Debug/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Test/MainWindow.xaml.cs
Test/MainWindow.xaml
Test/bin/Debug/net7.0-windows/Test.runtimeconfig.json
Test/bin/Debug/net7.0-windows/Test.pdb
Test/bin/Debug/net7.0-windows/Test.exe
Test/bin/Debug/net7.0-windows/Test.dll
Test/bin/Debug/net7.0-windows/Test.deps.json
Test/AssemblyInfo.cs
Test/App.xaml.cs
Test/App.xaml
Example/obj/project.nuget.cache
Example/obj/project.assets.json
Example/obj/Example.csproj.nuget.g.targets
Example/obj/Example.csproj.nuget.g.props
Example/obj/Example.csproj.nuget.dgspec.json
Example/obj/Debug/net7.0-windows/refint/Example.dll
Example/obj/Debug/net7.0-windows/ref/Example.dll
Example/obj/Debug/net7.0-windows/MainWindow.g.i.cs
Example/obj/Debug/net7.0-windows/MainWindow.g.cs
Example/obj/Debug/net7.0-windows/MainWindow.baml
Example/obj/Debug/net7.0-windows/Example_njkbec3x_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Example/obj/Debug/net7.0-windows/Example_njkbec3x_wpftmp.assets.cache
Example/obj/Debug/net7.0-windows/Example_njkbec3x_wpftmp.AssemblyInfoInputs.cache
Example/obj/Debug/net7.0-windows/Example_njkbec3x_wpftmp.AssemblyInfo.cs
Example/obj/Debug/net7.0-windows/Example_MarkupCompile.lref
Example/obj/Debug/net7.0-windows/Example_MarkupCompile.i.lref
Example/obj/Debug/net7.0-windows/Example_MarkupCompile.i.cache
Example/obj/Debug/net7.0-windows/Example_MarkupCompile.cache
Example/obj/Debug/net7.0-windows/Example_jgpkkwjj_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Example/obj/Debug/net7.0-windows/Example_jgpkkwjj_wpftmp.csproj.BuildWithSkipAnalyzers
Example/obj/Debug/net7.0-windows/Example_jgpkkwjj_wpftmp.assets.cache
Example/obj/Debug/net7.0-windows/Example_jgpkkwjj_wpftmp.AssemblyInfoInputs.cache
Example/obj/Debug/net7.0-windows/Example_jgpkkwjj_wpftmp.AssemblyInfo.cs
Example/obj/Debug/net7.0-windows/Example_amlk5vmo_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Example/obj/Debug/net7.0-windows/Example_amlk5vmo_wpftmp.csproj.BuildWithSkipAnalyzers
Example/obj/Debug/net7.0-windows/Example_amlk5vmo_wpftmp.assets.cache
Example/obj/Debug/net7.0-windows/Example_amlk5vmo_wpftmp.AssemblyInfoInputs.cache
Example/obj/Debug/net7.0-windows/Example_amlk5vmo_wpftmp.AssemblyInfo.cs
Example/obj/Debug/net7.0-windows/Example_3ec0ach4_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Example/obj/Debug/net7.0-windows/Example_3ec0ach4_wpftmp.assets.cache
Example/obj/Debug/net7.0-windows/Example_3ec0ach4_wpftmp.AssemblyInfoInputs.cache
Example/obj/Debug/net7.0-windows/Example_3ec0ach4_wpftmp.AssemblyInfo.cs
Example/obj/Debug/net7.0-windows/Example.pdb
Example/obj/Debug/net7.0-windows/Example.genruntimeconfig.cache
Example/obj/Debug/net7.0-windows/Example.GeneratedMSBuildEditorConfig.editorconfig
Example/obj/Debug/net7.0-windows/Example.g.resources
Example/obj/Debug/net7.0-windows/Example.dll
Example/obj/Debug/net7.0-windows/Example.designer.runtimeconfig.json
Example/obj/Debug/net7.0-windows/Example.designer.deps.json
Example/obj/Debug/net7.0-windows/Example.csproj.FileListAbsolute.txt
Example/obj/Debug/net7.0-windows/Example.csproj.CoreCompileInputs.cache
Example/obj/Debug/net7.0-windows/Example.csproj.BuildWithSkipAnalyzers
Example/obj/Debug/net7.0-windows/Example.assets.cache
Example/obj/Debug/net7.0-windows/Example.AssemblyInfoInputs.cache
Example/obj/Debug/net7.0-windows/Example.AssemblyInfo.cs
Example/obj/Debug/net7.0-windows/apphost.exe
Example/obj/Debug/net7.0-windows/App.g.i.cs
Example/obj/Debug/net7.0-windows/App.g.cs
Example/obj/Debug/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Example/MainWindow.xaml.cs
Example/MainWindow.xaml
Example/Example.csproj.user
Example/Example.csproj
Example/bin/Debug/net7.0-windows/Example.runtimeconfig.json
Example/bin/Debug/net7.0-windows/Example.pdb
Example/bin/Debug/net7.0-windows/Example.exe
Example/bin/Debug/net7.0-windows/Example.dll
Example/bin/Debug/net7.0-windows/Example.deps.json
Example/AssemblyInfo.cs
Example/App.xaml.cs
Example/App.xaml
.vs/LUNAR-Engine/FileContentIndex/b531175a-a787-420b-97c4-578b881d69cd.vsidx
.vs/LUNAR-Engine/FileContentIndex/a73d45c4-b8e2-4e03-87d6-22918c57d7ff.vsidx
.vs/LUNAR-Engine/FileContentIndex/338eb6fe-e881-416d-a18e-2dffd583d095.vsidx
.vs/LUNAR-Engine/FileContentIndex/1389966d-cacc-44be-8bbe-9a17d004f8b4.vsidx
.vs/LUNAR-Engine/FileContentIndex/00def1a6-e7c7-4a5c-b398-50abbc1f707b.vsidx
LUNAR-Engine/bin/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.deps.json
LUNAR-Engine/bin/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.dll
LUNAR-Engine/bin/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.exe
LUNAR-Engine/bin/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.pdb
LUNAR-Engine/bin/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.runtimeconfig.json
LUNAR-Engine/bin/Debug/net7.0-windows10.0.22621.0/Microsoft.Windows.SDK.NET.dll
LUNAR-Engine/bin/Debug/net7.0-windows10.0.22621.0/WinRT.Runtime.dll
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/apphost.exe
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.csproj.BuildWithSkipAnalyzers
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.csproj.CoreCompileInputs.cache
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.csproj.CopyComplete
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.csproj.FileListAbsolute.txt
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.dll
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.genruntimeconfig.cache
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/LUNAR-Engine.pdb
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/ref/LUNAR-Engine.dll
LUNAR-Engine/obj/Debug/net7.0-windows10.0.22621.0/refint/LUNAR-Engine.dll
LUNAR-Engine/obj/Debug/net7.0/LUNAR-Engine.assets.cache
LUNAR-Engine/obj/Debug/net7.0/LUNAR-Engine.GeneratedMSBuildEditorConfig.editorconfig
LUNAR-Engine/obj/LUNAR-Engine.csproj.nuget.dgspec.json
LUNAR-Engine/obj/LUNAR-Engine.csproj.nuget.g.props
LUNAR-Engine/obj/project.assets.json
LUNAR-Engine/obj/project.nuget.cache
